@media (min-width: 1024px) {
  .jf-desktop-header {
    border: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .jf-desktop-header > div {
    border: 0 !important;
    box-shadow: none !important;
  }
}
